body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  position: relative; }

html,
body {
  height: 100%;
  color: #b9b9b9; }

.wallpaper {
  background-color: rgba(27, 19, 43, 0.87);
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%; }

.logo {
  width: 170px;
  float: left; }
  .logo span {
    font-size: 18px;
    font-family: serif;
    display: block;
    width: 160px;
    text-align: center;
    line-height: 26px; }
    .logo span.bigger {
      font-size: 38px; }

.navigation {
  display: inline-block;
  width: 100%; }
  .navigation ul {
    float: right;
    margin: 28px 0 0 0; }
    .navigation ul li {
      float: left;
      list-style-type: none;
      text-transform: uppercase;
      margin: 0 22px; }
      .navigation ul li a {
        color: #bd87bd; }

a {
  color: #bd87bd !important; }

label {
  text-align: left !important; }

.ui.form .field > label {
  color: violet;
  font-weight: 100; }

.right-side {
  background-color: rgba(0, 0, 0, 0.53);
  padding: 42px 40px;
  height: calc(100vh);
  margin-top: -60px;
  border-left: 1px solid #362f44;
  min-width: 388px; }

.ui.list .list > .item,
.ui.list > .item,
ol.ui.list li,
ul.ui.list li {
  padding: 0; }

.list-music {
  display: flex;
  align-items: center;
  background-color: rgba(11, 8, 18, 0.48);
  border-bottom: 1px solid #362f44;
  padding: 14px 40px;
  position: relative; }
  .list-music .img-container {
    height: 90px;
    width: 146px;
    overflow: hidden;
    margin-right: 20px; }
  .list-music img {
    display: inline-block;
    max-width: 100%; }
  .list-music .list-music-info {
    display: flex;
    align-items: center; }
  .list-music .buttons {
    position: absolute;
    right: 40px; }
  .list-music:hover {
    background-color: rgba(11, 8, 18, 0.35);
    transition: all 300ms ease-in; }

.flex-fluid {
  display: flex; }
  .flex-fluid .left-container {
    flex-grow: 2; }
    .flex-fluid .left-container .list-container {
      clear: both;
      padding-top: 20px;
      overflow: auto;
      height: calc(100vh - 138px); }
    .flex-fluid .left-container button {
      float: right;
      margin-right: 40px; }
  .flex-fluid .right-container {
    flex-grow: 1; }

.box-center {
  width: 450px;
  margin: 120px auto 0; }

.search-field {
  width: calc(40vw);
  margin-left: 20px;
  padding: 10px 20px;
  border: none;
  background-color: transparent;
  font-size: 18px;
  outline: 0 none;
  color: white; }
  .search-field:focus {
    color: white; }

.empty-result {
  color: white;
  text-align: center; }

.sound-player {
  position: absolute;
  bottom: 0;
  width: 100%; }
  .sound-player .flex {
    background-color: #150e21 !important;
    height: 90px !important; }
  .sound-player .toggle-play-button {
    background-color: purple !important; }
  .sound-player .pause-icon {
    box-shadow: purple 7px 0px 0px 0px inset !important; }
  .sound-player .indicator {
    background-color: purple !important; }

.single-view {
  padding: 60px 40px;
  position: relative;
  display: inline-block;
  width: 100%; }

.single-info,
.pdf-preview {
  float: left;
  width: 50%; }
